/**/
/* Colors */
/**/

:root {
  --notblack: #212121;
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --buttonactive: #1085e2;
  --cardoverlay: rgba(33, 150, 243, 0.9);
  --darkgrey: #2f303a;
  --grey: #757575;
  --footericon: rgba(255, 255, 255, 0.1);
  --cream: #ececec;
  --background: rgba(47, 48, 58, 0.4);
  --notwhite: #f5f4fa;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
  --backgroundmodalwindow: rgba(000, 000, 000, 0.2);
  --lightgrey: #e5e5e5;
  --whatwedooverlay: rgba(47, 48, 58, 0.8);
}

/**/
/* Styles reset */
/**/

*:focus {
  outline: none;
}

* h1,
h2,
h3,
h4,
p,
ul,
a,
figure,
figcaption {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

/**/
/* Global styles */
/**/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

.logo-color {
  color: var(--blue);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
}

.section {
  padding: 94px 0;
}

.hover:hover,
.hover:focus {
  color: var(--blue);
}

.links {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  padding-bottom: 50px;
}

/**/
/* Header styles */
/**/

.header-border {
  border-bottom: 1px solid var(--cream);
}

.header-container {
  display: flex;
  flex-direction: row;
  padding: 24px 15px 25px 15px;
  align-items: center;
  gap: 93px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list {
  gap: 46px;
}

.nav-links {
  color: var(--notblack);
  position: relative;
}

.blue-line::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  transform: translateY(33px);
}

.contact-links {
  color: var(--grey);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--grey);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover,
.icons:focus {
  fill: var(--blue);
}

.contact-list {
  margin-left: auto;
  gap: 30px;
}

/**/
/* index.html Main styles */
/**/

/* Logo-&-Button styles */

.logo-container {
  background: linear-gradient(var(--background), var(--background)),
    url(../images/background.jpg), no-repeat;
  padding: 200px 452px;
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.header-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.logo-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border-style: none;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* Lorem-Section styles */

.no-padding {
  padding-bottom: 0;
}

.lorem-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--notwhite);
  padding: 25px 0;
  margin-bottom: 30px;
}

.lorem-header {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--notblack);
  padding-bottom: 10px;
}

.lorem-paragraph {
  line-height: 1.715;
}

/* What-We-Do styles */

.what-we-do {
  position: relative;
}

.what-we-do-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white);
  padding: 27px 0;
  width: 100%;
  background-color: var(--whatwedooverlay);
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

/* Our-Team styles */

.our-team-background {
  background-color: var(--notwhite);
}

.our-team-list {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0;
  font-size: 16px;
  line-height: 1.188;
}

.our-team-header {
  font-weight: 500;
  color: #212121;
}

.social-link-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 6px;
  align-items: center;
}

.social-svg {
  width: 44px;
  height: 44px;
  fill: var(--iconcolor);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social-svg:hover {
  background-color: var(--blue);
  fill: var(--white);
}

.social:focus svg {
  background-color: var(--blue);
  fill: var(--white);
}

/* Our-Clients styles */

.our-clients-icons {
  width: 170px;
  height: 92px;
  border-radius: 4%;
  border: 1px solid var(--iconcolor);
  fill: var(--iconcolor);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-icons:hover {
  border: 1px solid var(--blue);
  fill: var(--blue);
}

.our-clients:focus svg {
  border: 1px solid var(--blue);
  fill: var(--blue);
}

/**/
/* portfolio.html Main styles */
/**/

/* Buttons styles */

.portfolio-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
  align-items: center;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--notblack);
  border-style: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.figcaption-border {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0 20px 24px;
  z-index: 2;
  position: relative;
  background-color: var(--white);
  border-right: 1px solid var(--productborder);
  border-bottom: 1px solid var(--productborder);
  border-left: 1px solid var(--productborder);
}

.card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--notblack);
}

.card-paragraph {
  font-size: 16px;
  line-height: 1.875;
}

.box {
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.556;
  color: var(--white);
  background-color: var(--cardoverlay);
  padding: 49px 45px 0 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover,
.box:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box:hover .box-overlay {
  transform: translateX(0);
}

/* Cards styles */

/**/
/* Footer styles */
/**/

.footer-background {
  background-color: var(--darkgrey);
  padding: 60px 0;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.footer-logo {
  color: var(--white);
}

.address-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 9px;
  font-style: normal;
}
.address {
  font-weight: 400;
  line-height: 1.715;
  color: var(--footerlinks);
}

.address-paragraph {
  color: var(--white);
}

.footer-header {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 0 20px 0;
}

.footer-social-link-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.footer-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
  background-color: var(--footericon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg:hover {
  background-color: var(--blue);
}

.footer-social-links:focus svg {
  background-color: var(--blue);
}

/**/
/* Modal-Window styles */
/**/

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--backgroundmodalwindow);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  top: 8px;
  right: 8px;
  position: absolute;
  border-style: none;
}

.svg-modal-button {
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 30px;
  position: absolute;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--black);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover svg,
.modal-button:focus svg {
  cursor: pointer;
  background-color: var(--blue);
  fill: var(--white);
}

/**/
/* Forms & Labels & Inputs styles */
/**/

/* Footer Forms & Labels & Inputs styles */

.footer-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 0 0 8px;
}

.footer-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--darkgrey);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white);
}

.footer-button {
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border-style: none;
  gap: 24px;
  cursor: pointer;
  margin: auto 0;
  padding: 10px 28px 10px 42px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--blue);
}

.footer-form-svg {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

/* Modal-Window Forms & Labels & Inputs styles */

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--notblack);
  padding-bottom: 12px;
}

.modal-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-label {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-checkbox-label {
  line-height: 1.715;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  position: relative;
  padding: 10px 0 20px 15px;
}

.checkbox {
  width: 16px;
  height: 15px;
  left: 15px;
  opacity: 0;
  pointer-events: visible;
}

.modal-checkbox-label input:checked ~ .checkbox-svg {
  background-color: var(--blue);
  fill: var(--blue);
}
.vector {
  fill: var(--white);
}

.checkbox-svg {
  width: 16px;
  height: 15px;
  left: 15px;
  cursor: pointer;
  position: absolute;
  fill: var(--notblack);
  border-radius: 10%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-svg:hover {
  fill: var(--blue);
}

.checkbox-link {
  color: var(--blue);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link:hover,
.checkbox-link:focus {
  color: var(--buttonactive);
}

.modal-send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--white);
  border-style: none;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 76px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-active:hover,
.button-active:focus {
  background-color: var(--buttonactive);
}

.modal-svg {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--notblack);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 14px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-label:hover .modal-svg,
.modal-input:focus-visible + .modal-svg {
  fill: var(--blue);
}

.modal-label:hover .modal-input,
.modal-input:focus {
  border: 1px solid var(--blue);
}
