.main {
  @include flex-column;
  gap: 30px;
  background: linear-gradient($gradient-color, $gradient-color),
    url(/images/background.jpg), no-repeat;
  padding: 200px 452px;
  width: 100%;

  &__header {
    font-weight: map-get($font-weight, super-bold);
    font-size: map-get($font-size, header-one);
    line-height: 1.364;
    text-align: center;
    letter-spacing: map-get($letter-spacing, big);
    text-transform: uppercase;
    color: $header-one-color;
  }

  &__button {
    @include flex;
    cursor: pointer;
    background-color: $button-color;
    box-shadow: 0px 4px 4px $main-button-shadow;
    border-radius: map-get($border-radius, medium);
    color: $button-font-color;
    border-style: none;
    padding: 10px 41px 10px 42px;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, smaller);
    line-height: 1.875;
    letter-spacing: map-get($letter-spacing, big);
    transition: map-get($transition, background-color);

    &:hover,
    &:focus {
      background-color: $button-active-color;
    }
  }
}

.lorem {
  @include flex-row;
  gap: 30px;

  &__container {
    @include flex;
    justify-content: center;
    padding: 25px 100px;
    background-color: $section-background-color;
  }

  &__header {
    font-weight: map-get($font-weight, bold);
    line-height: 1.143;
    text-transform: uppercase;
    color: $secondary-text-color;
    padding: 30px 0 10px 0;
  }

  &__paragraph {
    line-height: 1.715;
  }
}
