.main {
  @include flex-column;
  gap: 30px;
  align-items: center;
  background: linear-gradient(
      $grdient-background-color,
      $grdient-background-color
    ),
    url(../images/background.jpg), no-repeat;
  width: 100%;
  padding: 200px 452px;

  &__header {
    font-weight: map-get($font-weight, super-bold);
    font-size: map-get($font-size, biggest);
    line-height: map-get($line-height, header-one);
    text-align: center;
    letter-spacing: map-get($letter-spacing, big);
    text-transform: uppercase;
    color: $primary-header-color;
  }

  &__button {
    @include flex;
    @include transition-background-color;
    cursor: pointer;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, smaller);
    line-height: map-get($line-height, bigger);
    text-align: center;
    letter-spacing: map-get($letter-spacing, big);
    color: $primary-header-color;
    background: $button-background-color;
    box-shadow: 0px 4px 4px $big-buttons-shadow;
    border-radius: map-get($border-radius, big);
    border-style: none;
    padding: 10px 41px 10px 42px;

    &:hover,
    &:focus {
      background-color: $button-active-background-color;
    }
  }
}

.lorem {
  @include flex-row;
  gap: 30px;

  &__list {
    @include flex-column;
    gap: 10px;

    &-container {
      @include flex;
      justify-content: center;
      padding: 25px 0;
      background-color: $secondary-background-color;
      border-radius: map-get($border-radius, big);
    }

    &-header {
      font-weight: map-get($font-weight, bold);
      text-transform: uppercase;
      color: $secondary-font-color;
      padding-top: 20px;
    }

    &-paragraph {
      line-height: map-get($line-height, big);
    }
  }
}

.work {
  @include flex-row;
  gap: 30px;

  &__list {
    position: relative;

    &-overlay {
      @include flex;
      justify-content: center;
      position: absolute;
      background-color: $dark-overlay-background-color;
      width: 100%;
      height: 70px;
      bottom: 0;
      left: 0;
      font-weight: map-get($font-weight, bold);

      text-transform: uppercase;
      color: $third-font-color;
    }
  }
}

.team {
  @include flex-row;
  gap: 30px;

  &__list {
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px $team-shadow-one, 0px 1px 1px $team-shadow-two,
      0px 2px 1px $team-shadow-three;
    border-radius: 0px 0px 4px 4px;
    font-size: map-get($font-size, smaller);
    line-height: map-get($line-height, smallest);
    text-align: center;

    &-figcaption {
      @include flex-column;
      gap: 10px;
      padding: 30px 0;

      &-header {
        color: $secondary-font-color;
        font-weight: map-get($font-weight, medium);
      }

      &-social {
        @include flex-row;
        justify-content: center;
        gap: 10px;
        padding-top: 6px;

        &-links {
          @include transition-background-color-fill;
          display: block;
          width: 44px;
          height: 44px;
          fill: $primary-svg-color;
          border-radius: map-get($border-radius, circle);

          &:hover,
          &:focus {
            background: $hover-color;
            fill: $white-svg;
          }
        }
      }
    }
  }
}

.clients{
  @include flex-row;
  gap:30px;

  
}

.secondary-header {
  font-weight: map-get($font-weight, bold);
  font-size: map-get($font-size, bigger);
  line-height: map-get($line-height, secondary);
  text-align: center;
  color: $secondary-font-color;
  padding-bottom: 50px;
}

.no-padding {
  padding-bottom: 0;
}

.section-background {
  background-color: $secondary-background-color;
}
