$primary-background-color: #fff;
$secondary-background-color: #2f303a;
$section-background-color: #f5f4fa;
$gradient-color: #2f303a66;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$header-border-color: #ececec;
$hover-color: #2196f3;
$button-active-color: #1085e2;
$dark-overlay-color: #2f303acc;
$blue-overlay-color: #2196f3e5;
$primary-icon-color: #afb1b8;
$secondary-icon-color: #212121;
$footer-icon-color: #fff;
$icon-background-color: #ffffff1a;
$logo-color: #000;
$team-boxshadow-one: #0000001f;
$team-boxshadow-two: #00000024;
$team-boxshadow-three: #00000033;
$portfolio-button-shadow-one: #0000001a;
$portfolio-button-shadow-one: #00000014;
$portfolio-button-shadow-one: #0000001f;
$card-shadow-one: #0000001f;
$card-shadow-two: #0000000f;
$card-shadow-three: #00000029;
$modal-border-color: #21212133;
$footer-border-color: #ffffff4d;
$footer-border-filter: #00000026;
