/* Font Family */
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;

/* Font Weight */
$font-weight: (
  "primary": 400,
  "super-bold": 900,
  "bold": 700,
  "medium": 500,
);

/* Font Size */
$font-size: (
  "primary": 14px,
  "smallest": 12px,
  "smaller": 16px,
  "small": 18px,
  "medium": 20px,
  "big": 26px,
  "bigger": 36px,
  "biggest": 44px,
);

/* Line Height */
$line-height: (
  "primary": 1.143,
  "slimmer": 1.15,
  "slim": 1.167,
  "smallest": 1.188,
  "smaller": 1.193,
  "small": 1.364,
  "medium": 1.556,
  "big": 1.715,
  "bigger": 1.875,
  "biggest": 2,
);

/* Letter Spacing */
$letter-spacing: (
  "primary": 0.03em,
  "big": 0.06em,
  "medium": 0.02em,
  "small": 0.01em,
);
