$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "super-bold": 900,
);

$font-size: (
  "primary": 14px,
  "logo": 26px,
  "header-one": 44px,
  "bigger": 36px,
  "big": 20px,
  "small": 18px,
  "smaller": 16px,
  "smallest": 12px,
);

$letter-spacing: (
  "primary": 0.03em,
  "big": 0.06em,
  "medium": 0.02em,
  "small": 0.01em,
);

$border-radius: (
  "small": 2px,
  "medium": 4px,
  "big": 10px,
  "circle": 50%,
);

$primary-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
