@mixin center {
  margin: 0 auto;
}

@mixin padding {
  padding: 0 15px;
}

@mixin section {
  padding: 94px 0;
}

@mixin no-padding {
  padding-bottom: 0;
}

@mixin flex {
  display: flex;
  align-items: center;
  text-align: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin nav-links {
  font-weight: map-get($font-weight, medium);
  line-height: 1.143;
  letter-spacing: map-get($letter-spacing, medium);
}

@mixin transition-fill-color {
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
